/* Import the font 'Red Hat Display' with three different weights: 500, 700 and 900 */
@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap);

/* Import the background-image of the order-summary-component */
@import url(images/pattern-background-desktop.svg);

/* Import the order-summary image */
@import url(images/illustration-hero.svg);

/* Import the music-icon */
@import url(images/icon-music.svg);

html{
    max-width: 1440px;
    background-image: url('images/pattern-background-desktop.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* The order summary container box */
.container{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;    
    border-radius: 20px;
    margin-top: 25px;   margin-bottom: 25px;
    background-color: hsl(0, 0%, 100%);
}

/* The order-summary image */
#top-image{
    content: url('images/illustration-hero.svg');
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 350px;
}

/* The title of the order summary */
h2{    
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
}

/* The style of the <p> element */
p{
    font-size: 16px;
    text-align: center;
    color: hsl(224, 23%, 55%);
}

/* Styles for the plan an its value
    plan-section, music-icon, plan-value and plan-text */
.plan-section{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 90%;
    border-radius: 10px;
    background-color:hsl(225, 100%, 98%);    
    justify-content: space-around;
    align-items: center;
}
#music-icon{
    content: url('images/icon-music.svg');
}
#plan-value{
    width: 50%;
}
.plan-text{
    text-align: left;
}
/* The title font => Annual Plan */
.title-font{    
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

/* The style of Change nav */
nav{
    color: hsl(245, 75%, 52%);
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}    
nav:hover{
    cursor: pointer;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
}

/* Basic style for Proceed to Payment, and Cancel buttons. */
.button{        
    border-style: none;
    font-size: 16px;
    text-decoration: none;
    text-align: center;    
}

/* Button :: Proceed to Payment */
.proceed-btn{
    color: hsl(0, 0%, 100%);
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0px 10px 12px hsl(225, 100%, 98%);
    border-radius: 10px;    
    padding: 10px 80px;
    margin: 20px;
}

/* Button :: Proceed to Payment :: when hover */
.proceed-btn:hover{
    cursor: pointer;    
    color: hsl(0, 0%, 95%);
    background-color: hsl(224, 23%, 55%);
}

/* Cancel Order button */
.cancel-btn{
    color: hsl(224, 23%, 55%);
    background-color : transparent;        
    border-style: none;
    margin-bottom: 20px;
    font-weight: bold;    
}

/* Cancel Order button when hover */
.cancel-btn:hover{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}